<template>
  <div class="blocked-page">
    <h1 class="blocked-page__heading">That's Enough</h1>
    <p class="blocked-page__text">{{ data.rule.name }} is a waste of time. Focus mode is on.</p>
    <button class="blocked-page__button">Let me in once</button>
  </div>
</template>

<script>
export default {
  data () {
    return {
      data: JSON.parse(atob(location.search.replace('?details=', '')))
    }
  }
}
</script>

<style lang="scss">
:root, body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.blocked-page {
  background-color: #3F51B5;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__heading {
    font-weight: 300;
    font-size: 50px;
    margin: 0;
  }

  &__text {
    color: rgba(white, .7);
    font-size: 14px;
  }

  &__button {
    margin-top: 40px;
    -webkit-appearance: none;

    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: 500;
    border: 0;
    background-color: rgba(white, .1);
    color: white;
    height: 36px;
    padding: 0 12px;
    font-size: 12px;
    cursor: pointer;
    outline: 0;

    &:hover {
      background-color: rgba(white, .2);
    }
  }
}
</style>
